<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>26 East 225 North, Central Valley, Ut 84754</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "4352019071" %></p>

        <h3>Email</h3>

        <p><a href="mailto:jakedevcamp@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d778.358332882996!2d-112.0985696381092!3d38.70785906029106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874b110b27e13529%3A0x605bab8665c36ac8!2s225+North+Street%2C+Central+Valley%2C+UT+84754!5e0!3m2!1sen!2sus!4v1517602174563" width="475" height="450" frameborder="200" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
